{% extends 'base.html' %}
{% block content %}

<main>
    <h1>Profile</h1>

    <form method='POST'>
        <fieldset>
            

            <label>
                Your profile Picture:
                <input type="url" name="photo">
            </label>

            <label>
                Username:
                <input type="text" name="username">
            </label>

            <label>
                About you:
                <input type="text" name="caption">
            </label>

            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}