{% extends 'base.html' %}
{% block content %}

<main>
    <!-- Profile image and info -->
    <section>
        <div class="container mr-auto ml-auto mt-5 bg-whitesmoke"> 
            <div class="card-group">
                <div class="card" id="profile_image_card">
                    <img id="profile_image" src="{{pet.photo_url}}" class="rounded d-block" alt="...">
                </div>

                <div class="card ">
                    <div class="card-body">
                        <h3 class="card-title mt-5">{{pet.name}}</h3>
                        <p class="card-text p-2">{{pet.about}}</p>
                        <a href="/images/{{pet._id}}" class="btn btn-primary">Add images to profile</a>
                        <a href="/remove/{{pet._id}}" class="btn btn-primary">Remove images from profile</a>
                        <a href="/" class="btn btn-primary">Back to Pets</a>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <section>
        <div class="container-fluid bg-whitesmoke mt-4">
          <div class="row row-cols-1 row-cols-md-3">
            {% for picture in pet_pictures %}
                <div class="col p-3">
                  <div class="card h-100">
                    <img src="{{picture.pet_pictures}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{picture.caption}}</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
        
      </section>



</main>
{% endblock content %}