{% extends 'base.html' %}
{% block content %}


<main>
  <!-- Profile image and info -->
  <section>
    <div class="container-fluid mt-5 bg-whitesmoke"> 
      <div class="card-group bg-white mr-5 ml-5">
        <div class="card bg-white col-5">
            
                <img src="{{profile.profile_picture}}" class="card-img-top rounded mx-auto d-block" alt="...">
        
        </div>

        <div class="card bg-white">
            <div class="card-body">
              <h3 class="card-title">{{profile.username}}</h3>
              <p class="card-text p-2">{{profile.text}}</p>
              
              <a href="/edit_profile" class="btn btn-primary">Edit your profile</a>
            </div>
        </div>
      </div>
    </div> 
  </section>


    <section>
        <div class="row mt-5 row-cols-1 row-cols-md-3 g-4">
          {% for pet in pet_list %}
            <div class="col">
              <div class="card h-100">
                <a href="/pet/{{pet._id}}"><img src="{{pet.photo_url}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">{{pet.name}}</h5>
                  <p class="card-text">likes, share</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </section>

  <section>
    <a class="btn btn-outline-primary" href="/create" role="button"> New Pet</a>
    <a class="btn btn-outline-warning" href="/delete" role="button"> Delete Pet</a>
  </section>
</main>
{% endblock content %}