{% extends 'base.html' %}
{% block content %}


<main>

    <section>
        <div class="row mt-5 row-cols-1 row-cols-md-3 g-4">
            {% for pet in pet_list %}
            <div class="col">
              <div class="card h-100">
                <a href="/pet/{{pet._id}}"><img src="{{pet.photo_url}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{pet.name}}</h5>
                    <p class="card-text">likes, share</p>
                    <form method ='POST'>
                        <input type="hidden" value="{{pet._id}}" name ="delete" >
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col">
                <form method ='POST'>
                    <button href="/" type="submit "class="btn btn-success">Done</button>
                </form>
            </div>
        </div>
    </section>

</main>
{% endblock content %}